[2013-12-11 13:00] berndbischl opened #1 "validator: Check that all entry names in description.txt are correct"

[2013-12-11 13:00] berndbischl opened #2 "validator: check that all files have correct names and extensions"

[2013-12-11 13:01] berndbischl opened #3 "description.txt: possibly rename number_of_groups to number_of_feature_groups"
We need expressive names

[2013-12-11 13:01] berndbischl opened #4 "EDA: show overview of algo performance"

[2013-12-11 13:17] mlindauer opened #5 "specification: add dependencies between feature costs"
Frank wrote:
Finally, one common characteristic of feature computation times is not captured in the format yet, namely dependencies between feature computation times. E.g., most of our SAT features are computed on a preprocessed instance. The preprocessor needs to be run (and its cost must count) if at least one feature is computed that requires the preprocessed instance (even if you just want to

[2013-12-11 17:26] berndbischl opened #6 "EDA: What are 1-2 good overviews for features?"

[2013-12-11 17:27] berndbischl opened #7 "EDA: What are 1-2 good overviews for instances?"

[2013-12-12 14:19] berndbischl opened #8 "EDA: provide over view of runstatus"
Show which algos and features crashed how often.

A basic overview table.

[2013-12-12 15:40] berndbischl opened #9 "ARFF does not have a Boolean column type"
ARFF does not have a "Boolean" column type. We need to change this, otherwise we have invalid files.

http://weka.wikispaces.com/ARFF

What did we say in the specs? Change this too?

[2013-12-13 08:40] mlindauer commented on #9
I changed it to
@ATTRIBUTE presolved {true,false}

[2013-12-18 15:06] mlindauer opened #10 "specification: presolved flag"
The format should provide the possibility to select subsets of feature, for instance, by using only certain feature groups (or feature processing steps), right?
However, the presolving flag ({true,false}) at the end of feature_runstatus.arff provides only information about the entire feature computation process.
If I use a feature subset, the presolving flag is maybe incorrect.

Solution proposal:

[2014-01-08 17:22] berndbischl commented on #9
a)
Check / Convert maxsat12-pms data set.

b)
Check that "Boolean" type is not in your specification latex file anymore.

[2014-01-08 17:24] berndbischl opened #11 "Use instance_id as name, instead "id""
Rename in specs tex file and all data set files

[2014-01-08 23:35] berndbischl opened #12 "add overview page to display EDA config"

[2014-01-08 23:40] berndbischl commented on #12
Every task now has a config file to change the look of the HTML pages.

This configuration should be displayed on simple HTML page as well.

Program a print method, then simply call it on the RHTML page.

[2014-01-08 23:47] berndbischl opened #13 "README / special chars"
Some readme files contain chars like ".
These are displayed wrongly in my browser (chrome).

(Low prio)

[2014-01-08 23:50] berndbischl opened #14 "Add explanation texts on HTML pages"
Some plots and tables are a bit harder to understand.

Add _brief_ and _good_ explanations to the sections when needed.

[2014-01-09 00:14] berndbischl opened #15 "HTML page where some reasoable llama models are evaluated on the data set"
So we can get a first impression how good the task can be modelled.

[2014-01-09 00:53] berndbischl commented on #4
First version of page done

[2014-01-09 00:53] #4 closed, assigned to berndbischl

[2014-01-09 00:54] berndbischl commented on #3
Pascal pls do this in the specs and the task files.

[2014-01-09 00:54] berndbischl commented on #6
First page done.

[2014-01-09 00:54] #6 closed, assigned to nobody

[2014-01-09 13:37] mlindauer opened #16 "EDA: correlation between algorithms"
see correlation matrix in http://www.cs.ubc.ca/labs/beta/Projects/SATzilla/SAT12-EvaluatingSolverContributions.pdf
maybe there are also some other nice ideas in there

[2014-01-09 13:39] mlindauer commented on #16
marginal contribution for orcale would be also nice

[2014-01-09 14:32] kerschke commented on #9
a) Converted maxsat12-pms data set.
b) Changed the one appeareance of "boolean" in the description of feature_runstatus.arff (within the specification tex file).

[2014-01-09 14:32] #9 closed, assigned to kerschke

[2014-01-09 14:39] kerschke commented on #11
fixed it so far in the specs tex file

[2014-01-09 17:44] kerschke commented on #14
added a few explanations

[2014-01-09 17:44] kerschke commented on #11
also fixed it in the data set files

[2014-01-09 17:44] #11 closed, assigned to kerschke

[2014-01-09 17:45] kerschke commented on #13
fixed it

[2014-01-09 17:45] #13 closed, assigned to nobody

[2014-01-09 17:50] kerschke opened #17 "Log-Labeling of Figures"
The labels of the figures should automatically be changed depending on the log-configuration.

[2014-01-10 11:54] kerschke commented on #3
done

[2014-01-10 11:54] #3 closed, assigned to kerschke

[2014-01-10 15:46] kerschke opened #18 "arff files look different depending on committer"
So far, we have the problem that factor levels are shown different, depending on the committer (probably due to use of different programs).

Submissions by Marius look like this:
@ATTRIBUTE instance_id STRING
@ATTRIBUTE repetition NUMERIC
@ATTRIBUTE nvarsOrig {ok, timeout, memout, presolved, crash, other}
@ATTRIBUTE nclausesOrig {ok, timeout, memout, presolved, crash, other}
@ATTRIBUTE presolved {

[2014-01-10 16:44] kerschke opened #19 "suppress information about loading required packages"
In the algos-html pages is an information, that R is loading the package "corrplot". This information should be suppressed.

[2014-01-10 17:06] berndbischl commented on #17
No, already ok

[2014-01-10 17:06] #17 closed, assigned to nobody

[2014-01-10 17:11] kerschke opened #20 "check data sets for missing visualisations"
Check data sets whether there is anything that's not been visualised.

[2014-01-10 17:12] berndbischl commented on #16
Marius, can you add 1-2 sentences what you mean here:

[2014-01-10 17:13] berndbischl commented on #16
corr. plots are already done

[2014-01-10 17:16] berndbischl commented on #18
For the types like STRING / string this is likely no problem, as long as we can parse the files.

Same holds for {'ok','timeout','memout','presolved','crash','other'} vs  {ok, timeout, memout, presolved, crash, other}

But factor levels must be specified correctly case-sensitive so, either true / false or TRUE FALSE depending on what we have in the paper.

[2014-01-10 17:22] kerschke opened #21 "Dominated Algos in Matrix form"
Domination of algorithms should be shown in form of a matrix (rows indicate superior, columns the inferior algorithms).

[2014-01-10 17:23] kerschke opened #22 "Check output of table (scientific format)"
Output of tables (especially in feature values) shouldn't be too long.

[2014-01-11 15:03] kerschke opened #23 "Warnings in algo density plot"
There are warnings in front of the density plot for the algos of sat12-indu:
 Warning: Removed 436 rows containing non-finite values (stat_density).
 Warning: Removed 461 rows containing non-finite values (stat_density).
 Warning: Removed 276 rows containing non-finite values (stat_density).

Either tackle that problem or find a shorter output for all those warnings...

[2014-01-11 15:26] kerschke commented on #21
I've added a matrix as well as a visualisation (using corrplot). Could you please comment on which one is better?

[2014-01-12 14:41] kerschke commented on #20
I've just made an overview over the runstatus of the algorithms.

[2014-01-12 14:41] kerschke commented on #20
Should we also create an output/overview for optional data sets, such as feature_costs.arff, etc.?!

[2014-01-12 15:03] kerschke commented on #20
Just added an overview over the runstatus of the features.

[2014-01-13 15:42] kerschke commented on #21
I've decided for myself, that the table looks better than the corrplot visualisation. Thus, removed the other output.

[2014-01-13 15:42] #21 closed, assigned to nobody

[2014-01-15 14:05] mlindauer opened #24 "specification: add cross validation split file"
see Bernd's mail from 08.12.13
http://expdb.cs.kuleuven.be/expdb/data/splits/iris_splits_CV_10_2.arff

[2014-01-21 15:18] #16 closed, assigned to nobody

[2014-01-21 15:24] berndbischl commented on #22
Use %g in tables and set options(digits) in render script.
set options(digits) back to old value at end of script.

[2014-01-21 15:25] berndbischl commented on #23
Remove NAs manually on pages.

METION that in explanation on each page where it is done

[2014-01-26 15:37] kerschke commented on #22
I've set the format to scientific format, e.g. 1.2345e+01, and fixed the number of digits per column.

[2014-01-26 15:37] #22 closed, assigned to kerschke

[2014-01-26 15:38] kerschke commented on #23
Removed NAs manually and added a brief note at the beginning of the concerned sections.

[2014-01-26 15:38] #23 closed, assigned to kerschke

[2014-01-26 15:45] kerschke commented on #19
I've set the argument quiet = TRUE within requirePackages(...).

[2014-01-26 15:45] #19 closed, assigned to kerschke

[2014-01-26 15:46] kerschke commented on #14
Is there anything else we need to explain more detailed?

[2014-01-26 15:48] kerschke commented on #8
Those tables are already included.

[2014-01-26 15:48] #8 closed, assigned to nobody

[2014-01-26 15:50] kerschke commented on #10
Am I wrong, or did we already integrate solution b) into the specification?

[2014-01-26 15:54] kerschke commented on #20
Any suggestions for further visualisations?

[2014-01-26 16:18] kerschke commented on #18
Just corrected the three data sets (bbob, csp, qbf) that were different to the other ones:
- apostrophes (') were removed
- TRUE / FALSE is now true / false
- STRING, NUMERIC is always written in capital letters
- the arff-commands "@..." are also written in capital letters

[2014-01-26 16:18] #18 closed, assigned to kerschke

[2014-01-29 10:16] berndbischl opened #25 "reread and check whole R docs"
Do this when nearly done

[2014-02-07 09:25] mlindauer commented on #24
added a subsection in specs

[2014-02-07 09:25] #24 closed, assigned to nobody

[2014-02-07 09:27] mlindauer commented on #10
not exactly.
We still have the last column "presolved" in the spec. We should remove it since it does not give the desired information in all cases.

[2014-02-07 09:28] mlindauer commented on #5
I changed the spec according to my proposal.
please check whether you agree.

[2014-02-16 17:47] kerschke opened #26 "Error messages in Feature HTML pages"
The feature performance overviews (I only checked the first two: bbob and csp) show R error-messages stating that they could not find the corresponding R-functions (summarizeFeatureRunstatus and lookForDuplicates). But, those files are in the repo - thus, they should not produce any errors.

[2014-02-17 12:58] berndbischl commented on #26
1) Simple renaming issue. Why not check the sources and then quickly fix it?

2) lookForDuplicates (now: checkDuplicazedInstances) was so slow, I had to completely rewrite it from scratch.....

[2014-02-17 12:58] #26 closed, assigned to berndbischl

[2014-02-17 12:59] berndbischl commented on #15
not perfect but there

[2014-02-17 12:59] #15 closed, assigned to berndbischl

[2014-02-17 13:00] berndbischl opened #27 "Write page to explain experimental setup of benchmark results"
Text page, so everybody knows what was done

[2014-02-17 13:00] berndbischl commented on #12
Done

[2014-02-17 13:00] #12 closed, assigned to Cedric7

[2014-02-17 13:01] berndbischl commented on #7
done

[2014-02-17 13:01] #7 closed, assigned to Cedric7

[2014-02-17 13:02] berndbischl commented on #10
Marius, I this OK now from your perspective?

[2014-02-17 13:03] berndbischl commented on #14
Closing this for now, lets open issues when we discover that something is indeed bad or missing.

[2014-02-17 13:03] #14 closed, assigned to berndbischl

[2014-02-17 13:03] mlindauer commented on #10
yes, it's ok in the specification but all data sets have to be changed accordingly.

[2014-02-17 13:13] berndbischl commented on #10
Pascal, can you do that? Or coordinate with Cedric?

[2014-02-17 13:18] kerschke commented on #10
Not before wednesday... If that's early enough, I can do it.

[2014-02-17 13:22] berndbischl commented on #10
No problem.

[2014-02-19 11:55] kerschke commented on #10
I don't see any inconsistency within the data sets compared to the specs-file, but I might be misunderstanding you guys. Here's what I thought you're talking about:
1) We're looking at the feature_runstatus.arff
2) The last column of that file is called presolved and is either TRUE or FALSE.
3) It is TRUE, if any of the runstatus-elements of that instance, i.e. any of the previous columns within t

[2014-02-19 11:57] mlindauer commented on #10
I removed the column "presolved" in the specification.

[2014-02-19 12:03] kerschke commented on #10
Ok, now I see it. For some reason my the specification still looked the same after updating. However, I found it and will update the data accordingly :-)

[2014-02-19 12:39] kerschke commented on #10
"presolved"-columns are removed from all "feature_runstatus.arff"-files.

[2014-02-19 12:39] #10 closed, assigned to kerschke

[2014-02-24 12:56] mlindauer opened #28 "feature set of satzillda data"
I strongly recommend to not use all features of the satzilla data. They cost too much (especially on industrial) and are often not complete.
I would recommend to use only: Pre_featuretime Basic_featuretime
They are cheap, also often used in literature (e.g., by Yuri) and enough for a baseline evaluation.

[2014-02-24 16:18] mlindauer commented on #28
sorry, the feature set should consists of
Pre_featuretime, Basic_featuretime, KLB_featuretime and CG_featuretime
(option of satzilla's feature generator "--base")

[2014-02-24 16:44] berndbischl commented on #28
Well, the costs are available in the format. So it is from this perspective simply up to the user what feature  set he uses, as long as he considers the costs.

For our paper we might proceed with the set you proposed.

[2014-02-24 16:48] berndbischl commented on #28
For the server evaluation results we might also restrict this. Which would be another matter of annoying customization but could be done, I think.

[2014-02-26 07:50] mlindauer opened #29 "change data sets to new specification version"
minimal todos:
- replace feature group definition by feature step definition in description.txt (trivial if only one feature group was defined)
- remove "total" column in feature_cost.arff
- feature_runstatus.arff is now talking about feature steps and not about individual features

[2014-02-26 11:23] berndbischl commented on #29
Pascal, can you do this pls?

[2014-02-26 11:48] kerschke commented on #29
Ok. But could you please clarify points 1 and 3?! What exactly do you mean be feature steps?

[2014-02-26 12:09] mlindauer commented on #29
The idea is: several (or only one) processing steps are maybe necessary (with associated costs) to compute a feature. To model these dependencies between these steps and features (n-to-n relationship), we removed the feature groups and replaced it by feature (processing) steps.

For further details, please have a look at the specification pdf.

[2014-02-26 18:59] kerschke commented on #29
Alright, I see that my question was not very distinct. I get the idea of feature steps, however, I am still not certain w.r.t. some aspects (even after looking at the specs).

Do I have to list a feature into all feature steps that are needed in order to derive that feature (group). Lets say I have a feature that depends on an initial setup (which could e.g. already be used in step 1) and then it

[2014-02-27 08:47] mlindauer commented on #29
If a feature needs both steps to be available,
it has to be listed in both steps.

However, that is not the problem here.
Except your bbob set and the sat sets,
all other sets have only one feature group. Therefore, the changes should be trivial, right?
I have already changed the sat sets; so nothing to do there.

Cheers,
Marius

[2014-02-27 08:58] kerschke commented on #29
Great! Than I'll do the rest :-)

[2014-02-27 19:55] berndbischl opened #30 "format cv splits must be passed to llama, so llama respects them"

[2014-02-27 20:01] berndbischl opened #31 "what are 1-2 good ways to properly handle NAs in features?"
- Impute by median?
- mlr has code.
- should we only impute on training data, so to not "cheat"?

[2014-02-27 20:22] berndbischl opened #32 "feature costs must be added in evaluation page"
Probably just a simple constant plus, as we cross-validate, so every instance is touched exactly once.

[2014-02-27 20:29] berndbischl opened #33 "add more llama learners for evaluation"

[2014-02-27 20:40] berndbischl opened #34 "asp-potassco data set format not correct, cannot be parsed"
fix it, test that parseASTask works

[2014-02-28 10:10] berndbischl commented on #30
Lars said:

"How do you want to handle this? One
relatively easy way of implementing this in LLAMA would be to pass lists instead
of single data frames for features, times, success. Those lists would represent
the folds. Then the user would of course have to make sure that they match, i.e.
first feature data frame corresponds to first time data frame etc."

[2014-02-28 10:13] berndbischl commented on #30
Wouldnt it be more natural to code this (in algselbbench)

convertCVSplitsToLLama(astask, coseal.cv.split.data.frame)

or

convertCVSplitsToLLama(llama.task, coseal.cv.split.data.frame)

--> same result as your cvFolds method?

[2014-02-28 10:18] larskotthoff commented on #30
What data do you want to pass to LLAMA? I guess there's two separate things here -- first how it's handled in algselbench and second how this information is passed to LLAMA.

[2014-02-28 13:45] mlindauer commented on #34
is your parser not correct or the asp data set?

[2014-02-28 13:46] mlindauer commented on #2
the validator checks that exactly the files as specified in your specification are in the given folder (if there is more, it will be ignored)

[2014-02-28 13:46] #2 closed, assigned to mlindauer

[2014-02-28 13:47] mlindauer commented on #1
the validator complains about missing entries in description.txt.
However, I cannot guess all possible ways of typos.

[2014-02-28 13:47] #1 closed, assigned to mlindauer

[2014-02-28 13:48] mlindauer commented on #5
nobody complained... closed!

[2014-02-28 13:48] #5 closed, assigned to berndbischl

[2014-02-28 13:50] mlindauer opened #35 "bug in csp set"
these two performance data are strange (found by checker):

2-fullins-5-6.xml.watchless.minion.gz,1,standard,256.248044,timeout
2-fullins-5-6.xml.watchless.minion.gz,1,learning,?,ok

The first one should have an ? because it is an timeout
and the second one should have a runtime value because the status is ok.

Since pascal is the translator, I assign this to him.

[2014-02-28 13:50] kerschke commented on #20
So far no one suggested any further visualisations. Thus, closed until somewhen comes up with further ideas.

[2014-02-28 13:50] #20 closed, assigned to nobody

[2014-02-28 13:53] kerschke commented on #29
Ok, I've changed the data sets. However, I noticed that some data sets (csp, qbf, premarshalling) have no feature_costs.arff. Are those files missing on purpose?

[2014-02-28 13:55] mlindauer commented on #29
The readme files says that there is no information about feature costs in these three sets.
So, it seems to be on purpose.

[2014-02-28 13:57] mlindauer opened #36 "bug in bbob"
the bbob set does not define a runtime cutoff.
however, there are timeouts and the value is Inf.

I think the value should be ? and the runtime cutoff should be added.

[2014-02-28 13:58] kerschke commented on #36
the problem with the bbob timeout is, that it depends on the dimension..

[2014-02-28 13:59] larskotthoff commented on #35
The status looks like it's reversed -- I just had a look at the raw data and the time for standard is ok and learning timed out.

[2014-02-28 14:01] kerschke commented on #35
I agree.. I just checked the raw data as well. I will change the csp-set accordingly.

[2014-02-28 14:06] kerschke commented on #36
Any suggestions what kind of cutoff-time I should mention in the description? The only option I can think of is to mention it in the readme.txt and leave a "?" in the description.txt

[2014-02-28 14:08] kerschke commented on #29
Ok

[2014-02-28 14:08] #29 closed, assigned to kerschke

[2014-02-28 14:13] mlindauer commented on #36
please discuss it with Bernd.
I'm not familiar with bbob.

[2014-02-28 14:15] mlindauer opened #37 "bug in csp set (feature runstatus)"
in feature_runstatus,
? is not possible value for status,
see

BlackHole-4-13-e-0_ext.xml.minion.converted.minion.gz,1,?
BlackHole-4-13-e-1_ext.xml.minion.converted.minion.gz,1,?
BlackHole-4-13-e-2_ext.xml.minion.converted.minion.gz,1,?
BlackHole-4-13-e-3_ext.xml.minion.converted.minion.gz,1,?
BlackHole-4-13-m-0_ext.xml.minion.converted.minion.gz,1,?
BlackHole-4-13-m-1_ext.xml.minion.converted.min

[2014-02-28 14:16] kerschke commented on #36
Actually, you don't have to be familiar with bbob. It's more a question on how flexible our specifications are. Do we HAVE to add a cutoff-time - even though it changed per instance (observation)? Or would it be fine, if it is mentioned in the readme?!

Also, I would like to leave the value Inf as this has a different meaning compared to ? (or NA). However, again, it depends on the specifications.

[2014-02-28 14:24] mlindauer commented on #36
good questions.

The problems, I see with the current data set:
- If we allow Inf as an performance value, all performance assessments with aggregation (e.g., sum) are useless if it is only once Inf.
- I don't know how could have measured Inf in practice. If it is indeed a performance metric there has to be an upper limit, right?
- Can something be infinite bad?
- If you used a performance metric

[2014-02-28 14:32] kerschke commented on #36
Well, I guess one could also define it as "?", set the runstatus to "other" and mention it in the readme.
It looks like you're right and we should let Bernd decide :-)

[2014-02-28 15:15] kerschke commented on #37
Fixed it - as I don't have any further knowledge about the data, the runstatus was set to "other", if at least one feature within that observation/instance was NA.
Maybe Lars has some more details on the data...

[2014-02-28 16:07] larskotthoff commented on #37
Hmm, looks like some features couldn't be computed because of memory out.

[2014-02-28 20:44] kerschke commented on #37
so you propose we define their runstatus as "memout" instead of "other"?!

[2014-02-28 20:48] larskotthoff commented on #37
I _think_ those were memouts, yes.

[2014-02-28 21:05] kerschke commented on #37
then, it's done :-)

[2014-02-28 21:05] #37 closed, assigned to larskotthoff

[2014-03-01 15:45] berndbischl opened #38 "duplicated instances"
seems turned off in html
- check function, docs and test
- turn it on

[2014-03-01 17:59] berndbischl commented on #30
It is like this

We start here:
We parse the the data and get:
-  an algselbench:ASTask object
- cv-splits data.frame.

We need to do
- get the output of llama::input. We already can do that with convertToLlama
- now split this up in the way llama::cvFolds does. But with the cv-splits data.frame defining the splits. (I currently just split with cvFolds in a new way)

So I suggest you write
convert

[2014-03-01 18:02] larskotthoff commented on #30
Ok, just to make sure that I understand -- where are the splits coming from? Because if you're splitting in algselbench (i.e. data is read unsplit), then you might as well split in llama later, no?

[2014-03-01 18:03] berndbischl commented on #30
We have an ARFF file in the format specification, containing the splits,  which resides on the server?

[2014-03-01 18:04] berndbischl commented on #30
Although I am unsure whether we have created those already :)
Lemme check.

[2014-03-01 18:07] berndbischl commented on #30
I guess we dont.
i will write a method for that now, so we can create the files for the tasks already there. But the format of that data frame is already in the specs.

[2014-03-01 18:13] larskotthoff commented on #30
Ok, that's why I was confused. I'll have a look at implementing this.

[2014-03-01 18:36] berndbischl opened #39 "Format Spec: Unclear how EXPERIMENT repetitions are handled in CV"
Lars + Marius: We need to discuss this very soon.

[2014-03-01 18:37] berndbischl commented on #39
Off topic:
Can I somehow assign / notify multiple people for a issue?

[2014-03-01 18:39] mlindauer commented on #39
I'm not quite sure whether I understand the issue.
We have a free day at Monday here
so I could talk at Tuesday!?
(or write e-mails sometime before)

[2014-03-01 20:36] berndbischl opened #40 "Display info about cross-validation on server pages."

[2014-03-01 20:37] berndbischl commented on #40
How many folds and so on.

[2014-03-01 20:45] berndbischl commented on #34
please put
@DATA

into the ARFFs. Otherwise it is not legal wrt the ARFF format - and I cannot parse it.

I fixed it for asp now.

[2014-03-01 20:45] #34 closed, assigned to Cedric7

[2014-03-01 20:51] berndbischl commented on #27
Maybe just do this in the upcoming paper.
Otherwise just duplicated work........

[2014-03-01 21:41] berndbischl commented on #30
I have uploaded the cv.arff files into coseal svn

You might want to look at

algselbench/R/createCVSplits
server_scripts/createCVSplitFiles

[2014-03-01 21:42] berndbischl commented on #36
RWeka:read.arff  cant handle Infs either I think

Create pages for: bbob_2013_master_thesis
Error in .jnew("weka/core/Instances", .jcast(reader, "java/io/Reader")) :
  java.io.IOException: number expected, read Token[Inf], line 100

[2014-03-01 21:55] berndbischl commented on #39
To clear this up I discussed it with Marius.

The CV folds define which instances go into training,which into tests.

It does not matter if we have stochastic replications on them for an instance, they either all go into train or all into test for that instance. So the format is OK and clear.

For experiments we currently average our such replications before we pass stuff to llama.

[2014-03-01 21:59] berndbischl opened #41 "Bug in EDA: Summary of the runstatus per algorithm"
Look at ASP.

The table is empty

[2014-03-01 22:02] berndbischl opened #42 "Bug in EDA: RUN OK"
Why do we have 0% so often?

Check this for asp task. Features and algos both.

[2014-03-01 22:04] berndbischl opened #43 "Bug in EDA: Scatterplot matrix of the performance values"
check premarshalling_astar_2013/algos.html
## Error: NA/NaN/Inf in 'x'

[2014-03-02 07:11] mlindauer commented on #42
The problem is that I used uppercases and the eda scripts are casesensitive; my validator is not casesensitive.
So, two ways too solve the problem.

[2014-03-02 07:15] mlindauer commented on #43
I havent found a na/inf in the data but a 0 as runtime which may cause porblems on log scale.

[2014-03-02 11:17] berndbischl commented on #43
Thanks, thats the poblem.

Logscale is configurable already.

http://berndbischl.github.io/coseal-algsel-benchmark-repo/task-pages/premarshalling_astar_2013/config.html

I just turned it off.

Now the plots look slightly worse,I will open another issue.

[2014-03-02 11:18] berndbischl opened #44 "EDA: LogScale is not a perfect operation"
Some data sets have 0  or neg. values. Simply taking the log results in a problem.

What to do better? And does ggplot2 allow that?

Also see #43

[2014-03-02 11:20] #43 closed, assigned to kerschke

[2014-03-02 11:21] berndbischl commented on #42
You have to make the validator to in a check case-sensitive way.

Otherwise we will run into horrible problems on our end, as R is simply case-sensitive in that regard.

We also have to change the data sets then right?

[2014-03-02 11:23] berndbischl opened #45 "Server pages: Automatically call validator on each data set"
And produce its output as HTML page.

Simply do a system call of Marius python code.

[2014-03-02 14:40] kerschke opened #46 "convertToLlama needs to impute features as well"
convertToLlama should not only impute the results of the algorithm runs, but also of the features. Otherwise, we get problems when classifying the data:

ASTask = parseASTask("../../coseal/data/csp_2010/")
LlamaTask = convertToLlama(ASTask)
res = classify(classifier=randomForest, data = cvFolds(LlamaTask, nfolds=2))
# Fehler in { : task 1 failed - "missing values in object"

[2014-03-02 15:12] berndbischl commented on #46
How about actually looking into the code before reporting ;-) ?

[code]

I am preparing a 5 course meal right now, so you have to check the bug yourself.....

[2014-03-02 15:22] kerschke commented on #46
I looked into it and saw that you already worked on it. So I thought it's best, if I let you fix your code ;-)

[2014-03-02 15:24] berndbischl commented on #46
Please dont do it like this, I cant do everything simultaneously....

I work in "stages", so when I commit I _think_ it is OK / done for now.

If you find stuff like that at least try to figure out what is wrong and add more info, please.
Because apparently in this case there is some code for imputation already.

[2014-03-02 15:26] berndbischl commented on #46
To make myself clear:

Of course REPORTING stuff has always preference, and should be done at once.

But IF you have 10 more minutes in cases like this, please try to invest them to figure out more info,
I do the same when I use your or he other guys code...

[2014-03-02 17:26] kerschke commented on #42
I just fixed the asp-potassco data. Now, the algorithm and feature EDA tables look better.

[2014-03-02 17:27] kerschke commented on #41
It's working since I fixed the ASP data.

[2014-03-02 17:27] #41 closed, assigned to kerschke

[2014-03-02 17:35] kerschke commented on #38
It was already included. Now, the test for it is included as well.

[2014-03-02 17:37] kerschke commented on #42
I'll reassign this issue to Marius as it is now a validation problem - not a problem on the EDA side.

[2014-03-02 17:41] kerschke commented on #36
I fixed the problem with the infinite values by setting them to ? (timeout) for the algo runs and to ? (other) for the feature values.
However, there still remains the problem of specifying the timeout. One possible solution would be to split the data per dimension - then I could give the specific timeouts. But this would actually just bloat our platform, so I don't really like this "solution".

[2014-03-02 20:10] berndbischl commented on #36
Pascal, let us discuss this matter on Tuesday.

I am currently too busy, and I need to ask you 1-2 things anyways.

[2014-03-02 20:29] berndbischl opened #47 "EDA error on features page, maxsat12-pms"
See here

[code]

http://berndbischl.github.io/coseal-algsel-benchmark-repo/task-pages/maxsat12-pms/features.html

[2014-03-02 20:32] berndbischl commented on #38
Should be more readable, at least add 1-3 spaces between instance names.

I dont know, maybe we should also check the results with the people who provided them?

[2014-03-03 00:28] kerschke commented on #46
Ok, I think, I just fixed that part. Now all missing feature values are imputed by the median of that feature.

[2014-03-03 00:48] kerschke opened #48 "problems with llama::classify"
I encountered problems when trying to run classify for various classifiers:

(1) Some classifiers (e.g. a randomForest) have problems when predicting a model for an empty class, which is not uncommon when doing cross-validations on small classes.
(2) We need to forward arguments:
(2a) When classifying with rpart, "predict" returns a probability matrix instead of the predicted classes. This causes

[2014-03-03 00:54] kerschke commented on #47
Did you update your code? Because I actually fixed those lines a couple of hours BEFORE your post. And on my local html output, everything works...

[2014-03-03 00:59] kerschke commented on #38
But ain't that a problem of labeling the instance IDs? I mean, if they would not be that long, especially with all those slashes and so on, it would already be a lot more readable...
Otherwise, we could just print each duplicated instance in a separate row (as we did before). But I am not sure if that's a lot more readable.

[2014-03-03 09:33] larskotthoff commented on #48
This is probably something that should be raised for LLAMA itself -- https://bitbucket.org/lkotthoff/llama

The short answer is that I'm aware of such issues. In the short term, nothing is going to happen about this, but in the medium term I'll probably switch LLAMA over to MLR, which offers a unified interface.

I'm not sure about forwarding arguments though -- is algselbench intended to be a wra

[2014-03-03 11:53] mlindauer commented on #35
The issue was not really solved.
The given example was not the only example of this issue.
Please fix it again!

[2014-03-03 11:56] kerschke commented on #48
The problem is that this will restrict us to a very limited number of classifiers and/or regressors. Also, we are only able to run experiments in the default settings of those learners.
As long as all of you are aware of that, we can keep it this way, even though it's actually not very satisfying.

However, as you mentioned you will switch to mlr this shouldn't be an issue, because mlr allows to f

[2014-03-03 11:57] kerschke commented on #35
In which way is the csp set still causing problems?

[2014-03-03 12:01] mlindauer commented on #48
I'm not an expert in R nor in LLAMA,
but I would like to understand what you meant with:
"Also, we are only able to run experiments in the default settings of those learners."?

I expected that LLAMA would automatically optimize the parameters of the learners (somehow)
because it is common knowledge that some learners can have arbitrary bad performance on default parameter settings. Am I wrong?

[2014-03-03 12:03] mlindauer commented on #35
please open
http://coseal.googlecode.com/svn/trunk/data/csp_2010/algorithm_runs.arff

and search for the combination:
?,ok
You will find the problems ;-)

There cannot be an unknown runtime in combination with "ok" status.

[2014-03-03 12:09] mlindauer opened #49 "qbf: timeout vs. memout"
Hi Lars,

could you please check the qbf data.

Was the following really a timeout?
Umbrella_tbm_26.tex.moduleQ3.2S.000009,1,quantor,214.77,timeout

Furthermore, I would expect "?" in all cases of timeouts; also here:
Umbrella_tbm_26.tex.moduleQ3.2S.000014,1,2clsQ,3599.53,timeout

Cheers,
Marius

[2014-03-03 12:16] larskotthoff commented on #48
LLAMA doesn't do any automatic optimisation of parameters (nor is it my intention to add this). If you want to do that, use any existing parameter tuner and wrap the LLAMA code in a suitable way.

Regarding the default settings comment, this really only refers to the fact that LLAMA currently doesn't support passing parameters through to the learners explicitly. However, you can wrap the learner i

[2014-03-03 12:30] berndbischl commented on #48
mlr would solve parameter and tuning issues. And I can help in designing a reasonable experimental setup. Please note that tuning will increase the runtimes A LOT. So we have to find some middle ground. I have done that like a million times, so I have a good gut feeling for how to do that.

I will now open up a issue in llama, to pass mlr learners to llama. I wanted to do that some time ago, I was

[2014-03-03 12:45] kerschke commented on #35
Ok. Now it _should_ be correct ;-)

[2014-03-03 13:31] berndbischl commented on #38
The other guys love the long names with slashes.

Add spaces for now, it is not the most important part of the page. If you have a brilliant idea to make it more readable, please do it - a little bit later.

[2014-03-03 13:33] berndbischl commented on #47
I just browsed the online pages for some secs and wanted to report what I noticed.

Can you yourself run "make push-task-page"?
If not, ask me and do it in the future.

[2014-03-03 13:34] kerschke commented on #38
Does anybody know how to implement a moving text in html like in a news ticker ;-)

[2014-03-03 13:39] Cedric7 commented on #38
you can write that:

<marquee behavior="scroll" direction="right">Here is some scrolling text... left to right!
</marquee>

Le Lundi 3 mars 2014 14h34, kerschke notifications@github.com a écrit :

Does anybody know how to implement a moving text in html like in a news ticker ;-)
—
Reply to this email directly or view it on GitHub.

[2014-03-03 13:40] kerschke commented on #47
I just tried it and it did not work. I'll work on it and/or check what the problem caused. However, if you want to have the most recent version online, you should run it for now :-)

[2014-03-03 13:51] larskotthoff commented on #49
Hi Marius, thanks for checking -- yes, those are indeed incorrect. There were quite a couple of memouts in there that I hadn't pulled from the status codes. I've just committed a fix that also puts '?' where the status was not ok.

Please verify and close or follow up.

[2014-03-03 14:17] Cedric7 commented on #47
i still tried <marquee behavior="scroll" direction="right">Here is some scrolling text... left to right!</marquee>
and it works perfect.

Le Lundi 3 mars 2014 14h40, kerschke notifications@github.com a écrit :

I just tried it and it did not work. I'll work on it and/or check what the problem caused. However, if you want to have the most recent version online, you should run it for now :-)
—
Reply

[2014-03-03 14:18] Cedric7 commented on #47
good  :-)

Le Lundi 3 mars 2014 15h17, Fankam Cedric cedfankam6@yahoo.fr a écrit :

i still tried <marquee behavior="scroll" direction="right">Here is some scrolling text... left to right!</marquee>
and it works perfect.

Le Lundi 3 mars 2014 14h40, kerschke notifications@github.com a écrit :

I just tried it and it did not work. I'll work on it and/or check what the problem caused. However, if yo

[2014-03-03 14:51] berndbischl commented on #47
Cedric, I dont get the comments on this page....

[2014-03-03 14:57] Cedric7 commented on #47
i just answered the question of pascal about moving text html like a news ticker

Le Lundi 3 mars 2014 15h51, berndbischl notifications@github.com a écrit :

Cedric, I dont get the comments on this page....
—
Reply to this email directly or view it on GitHub.

[2014-03-03 15:02] berndbischl commented on #47
Yes, but this is the wrong thread. Also you are constantly posting a "footer" below your mails.

Please use your browser to reply to the issue tracker instead.

[2014-03-03 15:11] berndbischl commented on #47
EDA page seems ok now, closing.

[2014-03-03 15:11] #47 closed, assigned to Cedric7

[2014-03-03 15:13] berndbischl commented on #38
Cedric, if you can improve the visuals here, do it.
Otherwise close it, if that fails.

It is currently not that bad.

[2014-03-03 15:18] Cedric7 opened #50 "it's now ok"

[2014-03-03 15:18] #50 closed, assigned to nobody

[2014-03-03 15:20] Cedric7 commented on #47
it's now ok

[2014-03-03 15:28] kerschke commented on #35
I'll close it for now. If anybody finds something suspicious about the data set, we can reopen it again.

[2014-03-03 15:28] #35 closed, assigned to kerschke

[2014-03-03 15:31] kerschke commented on #31
So far, the code is handling feature imputation using imputation by median over all the data.

[2014-03-03 21:53] Cedric7 commented on #47
sorry Pascal, i was a little unwell, I already sent u the example in your mail

[2014-03-03 21:53] Cedric7 commented on #47
i think about example html

[2014-03-05 09:55] #49 closed, assigned to larskotthoff

[2014-03-05 11:32] larskotthoff commented on #30
Added file and function to convert to LLAMA with folds in 2eb554ec9c1e1067d8c14ed315ee3c834ae92775. I wasn't able to test this as `convertToLlama` doesn't work on my machine -- complains that `impute` isn't defined. Do I need to install something for this to work?

The way the function is currently implemented is that it expects the folds as returned by `createCVSplits` to be given as an argument

[2014-03-05 12:32] kerschke commented on #30
Did you check out the current mlr version and the coseal-algsel-benchmark-repo? In that case, impute _should_ work.

[2014-03-05 12:44] berndbischl commented on #30
I am currently preparing a new major release.

"impute" is new and only in the github devel version.

Run:

devtools::install_github("mlr", username="berndbischl")

(This is mentioned in the README / web page of all my github packages, see detailed installation instruction there)

[2014-03-05 13:29] larskotthoff commented on #30
Ok, if I do that I get the error

[code]

I've just installed ParamHelpers again and this version seems to be the latest I can get through `install.packages()`. How would I upgrade to the version needed by mlr?

[2014-03-05 14:13] larskotthoff commented on #30
Ok, that's fixed (with help from Bernd). Now I'm getting

[code]

when I run `make check`. Doesn't seem to have anything to do with that I've done?

[2014-03-05 14:17] kerschke commented on #30
Now, it's a problem of BBmisc. You probably have to update that one as well (analogue to ParamHelpers and mlr). That's the problem, when working with various developers versions :-)

[2014-03-05 14:21] larskotthoff commented on #33
Here are RWeka classifiers that I've used in the past:

[code]

For the SVM, the kernel can be changed by passing `control=Weka_control(K=<kernel number>)`.

Regression learners:

[code]

Again for the SVM a suitable kernel needs to be set.

Clusterers:

[code]

For `FarthestFirst` and `SimpleKMeans`, the number of clusters has to be set through `control=Weka_control(N=<number of clusters>)`.

[2014-03-05 14:23] kerschke commented on #33
Thanks. I'll try them all :-)

[2014-03-05 14:27] larskotthoff commented on #30
Ok, now everything works and the test I've written passes! I've run `make check` and it didn't complain about anything else, so I consider this done. Please comment if I missed something.

[2014-03-05 14:36] berndbischl commented on #33
I would suggest to leave out the SVM as it basically boils down to "not so good science" to not tune the parameters for this model. The kernel choice itself is pretty clear: If you dont have further info, always use RBF.

[2014-03-05 14:38] berndbischl commented on #30
Dang, sorry.

Hopefully that was all. Ok you said it  works :)

Great + Thx!

[2014-03-05 14:54] berndbischl commented on #27
We will put this into the paper and reference that. Closing.

[2014-03-05 14:55] berndbischl commented on #36
Pascal, we discussed this.

Can we close?

[2014-03-05 15:10] kerschke commented on #36
We forgot to discuss what we should do with the cutoff_time in the description. So far, we have a "?" there and I would add it to the readme. Is that satisfying enough?

[2014-03-05 15:28] berndbischl commented on #36
I you cant give a single numerical value and explain it: yes.

[2014-03-05 15:29] kerschke commented on #36
Not without splitting the data by dimension, which would only bloat the platform. Thus, I will do it as discussed (set a "?" and explain it in the readme).

[2014-03-05 15:29] #36 closed, assigned to kerschke

[2014-03-05 16:55] berndbischl opened #51 "Why are there NAs in the feature costs?"
eg Sat11-Indu

And how are we then supposed to handle those when adding feature costs in the evaluation?

[2014-03-05 19:02] berndbischl opened #52 "EDA: provide basic overview of feature costs and steps"

[2014-03-05 19:13] berndbischl commented on #32
nearly done.

[2014-03-06 08:59] mlindauer commented on #51
I cite our specification:
"Put ? as an entry if the feature computation was not successful due to cut-off or unusual abort."

Unfortunately, the original SAT sets indeed have NAs as feature runtime :-(
In the SAT data, NAs should only occur when the step presolved the instance.
I assume in my tool, the cost is 0 in this case.
However, this cannot be the truth
because also for presolving there shou

[2014-03-06 12:14] berndbischl commented on #51
Yeah, I knew that you would say that. It was late.

So, to have an NA in the costs, implies that the feature VALUES are NA as well? Because the computation did not finish?
Which would mean I cannot the corresponding features (eg have to impute them).
So a cost of 0 would be totally OK IMHO in that case.

But if THAT step PRESOLVES the instance, this completely contradicts the line of argumentation

[2014-03-06 12:43] mlindauer commented on #51
my official opinion:
we can only use features if all used steps have "ok" as status.
otherwise the features cannot be used and do not have to consider the feature costs
(with the exception of timeouts where the feature runtime cutoff should be specified in description.txt)

my real opinion:
as soon as I try to execute a step to get features,
I have to pay something;
also when it crashes/memout/...

[2014-03-07 13:17] larskotthoff opened #53 "Data check tool gives error message when run"
I'm getting this when calling the data checker:

[code]

I'm getting the same error when I run it on other data sets. Looking at those manually, the 'instance_id' attributes are first, so I'm not sure what the problem is here.

[2014-03-07 15:50] mlindauer commented on #53
On my side, everything is running as I would expect it.
However, I have idea.
Unfortunately, there is another "arff" package for python. Maybe you have installed both?
Could you please run the following command in python and post the log of it:

[2014-03-07 16:25] larskotthoff commented on #53
[code]

[2014-03-07 16:30] mlindauer commented on #53
arghh... the tracker absorbed the underlines. please again with two underlines.

arff.__doc

arff.__version

[2014-03-07 16:31] larskotthoff commented on #53
Same thing. No such attribute.

[2014-03-07 16:32] mlindauer commented on #53
what?
please try
dir(arff)

[2014-03-07 16:46] larskotthoff commented on #53
[code]

[2014-03-07 16:49] larskotthoff commented on #53
Oh and `arff.__doc__` gives me this:

[code]

[2014-03-07 16:57] mlindauer commented on #53
ok, as expected that is the wrong arff package.
I use liac-arff (see Readme).
Unfortunately, I don't know a way to choose between these two packages since they have both the same name.
An ugly solution would be that you uninstall the wrong arff package.

[2014-03-07 16:59] larskotthoff commented on #53
Ok, that fixed it. I promise to read the README more carefully next time.

[2014-03-07 16:59] #53 closed, assigned to mlindauer

[2014-03-08 13:11] kerschke opened #54 "Check Results from Llama Experiments"
I just added some llama experiments. However, so far I did not run the experiments with 5 replications as it is stated on our pages, but only once.
It would be cool, if you could check the results and comment on possible changes BEFORE I run the experiments again.

[2014-03-08 13:12] berndbischl commented on #54
1 replication: yes of course lets save time now.
How long did it take? Where do you run them?

[2014-03-08 13:14] berndbischl commented on #54
Should we also display them in a "sorted fashion"?
Hmm, probably annoying to program...

[2014-03-08 13:14] berndbischl commented on #54
Maybe at least mark the 3 best results from the models?

[2014-03-08 13:16] berndbischl commented on #54
Checking: Well it is a bunch of numbers :)
And in most cases we seem to be better than the single best?

What about errors? Do zero occur?

[2014-03-08 13:20] #33 closed, assigned to kerschke

[2014-03-08 13:22] #40 closed, assigned to Cedric7

[2014-03-08 14:20] kerschke commented on #54
Sorting them shouldn't be a problem. Just let me know, in which way you want to sort them. By "par" or by "par" within each group (baseline, classif, regr, cluster).

Running the experiments took about 15-16 hours, but I ran it on my mac - so not many cpus.
I know this wasn't very efficient, but I had to fix some minor problems on the code so the package would still pass make check and so on.

Err

[2014-03-08 15:47] berndbischl commented on #54
Thats the thing. You would like to interactively change that. Which we are not going to program now. Can you simply try to bold / color the 3 best MODEL results?

That means on a cluster - even with 5 CV reps - it takes no time at all, so we do not need to plan ahead that much. Which is good. Why dont you compute at the Dortmund SLURM site next time?

Thx for doing this! I will review all code reg

[2014-03-08 15:54] kerschke commented on #54
I'll try to find a way to do the highlighting.

Like I mentioned before, I had to fix some part of the code before it passed "make check". That's why I didn't add it to a cluster - even not SLURM.

Didn't you or one of your students already start on creating those helper functions for mlr?!

[2014-03-08 16:05] berndbischl commented on #54
I am not sure what you mean here?
Is there still a problem? What exactly? And if not why didnt you run on SLURM after fixing?

Yes, I need to check what you did exactly, but I think we basically cover that now. I will post details later. It cant be that mlr struggles with this, these are trivial things.

[2014-03-08 16:11] kerschke commented on #54
Hopefully, there are no problems any more. And I didn't run on SLURM, because at the time, I fixed those issues, I already had the results :-)
Also, I would probably have to checkout and update all your packages (BBmisc, parallelMap, ParamHelpers and mlr) before I can do anything on SLURM ;-)

[2014-03-08 16:13] berndbischl commented on #54
I see.

[2014-03-08 18:31] mlindauer commented on #54
Why is there a NA at "The cost for using all features is NA" for ASP?
And could you please add an explanation for "best", "mcp" and "par".
(and I would call it "par10" instead of "par" because the penalty factor is important)
Another question: Is "classif" a multiclass classification or something like the pair wise classification as used in satzilla?

For the paper, I would suggest to use only app

[2014-03-08 18:33] mlindauer commented on #54
And how do you compute "par10" for bbob?
There are timeouts but we don't know the cutoff.

[2014-03-08 18:34] berndbischl opened #55 "Add explanation of measures in experimental results"
Lars, can you please do this in the html file:
Rhtml/llama.Rhtml

You know the exact defs. better than I do that are used in llama.

[2014-03-08 23:39] kerschke commented on #54
1) Looking at the feature-costs.arff for ASP, there are NAs in each of the columns - thus, the sum of those costs will result in NA.
2) True, I should add an explanation of "best" (percentage of selecting the best algorithm), "mcp" (misclassification penalty) and "par" (par10).
3) "Classif" is a multiclass classification - not a pairwise classification.
4) For the paper, I would suggest to show ei

[2014-03-08 23:41] berndbischl commented on #54
See #55, assigned to Lars

[2014-03-08 23:44] berndbischl commented on #54
Of course we can have the full table on the webpage and a subset in the paper.
Although there is no real "standard" here. Any of these methods are valid to solve the general machine learning problem. Lets simply select the ones that work well and the ones that are well known. Well, Pascal basically said the same above, so why am I typing this?

[2014-03-09 00:31] berndbischl commented on #54
Apparently, Pascal already checked that there are indeed NAs in the costs. But note that I did not completely finish working on this. We also need to urgently display some information about this on the server pages. Also, 1 NA value in the whole cost matrix should be enough to make the sum NA, right?

[2014-03-09 00:36] kerschke commented on #54
I completely agree. Once you have one NA, the entire sum is NA.

[2014-03-09 01:31] kerschke commented on #54
I just added some colors to the llama-results to make them a little more readable. Hopefully, it pleases you as well :-)

[2014-03-09 01:37] berndbischl commented on #54
Looks good.

[2014-03-09 01:48] berndbischl commented on #54
Like Pascal already said: It is "vanilla" multi-class classification. But a few further comments:

llama actually offers the methods classifyPairs. Which we COULD include in the experiments. This uses the "one-vs-one" reduction scheme of multiclass to pairwise, binary classification. But as I understand it, is does NOT weight the observation in the binary problems, but only uses majority voting in

[2014-03-09 07:59] mlindauer commented on #54
ok, could you please explain the meaning of "The cost for using all features is"?
Of course, there are NAs because there are presolved instances.

maybe I still do not understand bbob. So, there is instance depending timeout, right?
However, is par10 defined and useful for such a case?
If we have a time for instance i_1 with 10 (whatever unit) and for i_2 with 10000,
the metric is highly focused o

[2014-03-09 11:45] kerschke commented on #54
I'm not sure, whether NA is the a good value for presolved instances. IMHO it should be 0. You might have costs for the previous steps but if the calculation of those features does not cost anything because they were presolved, the costs seem to be 0 (for that step).

Coming back to BBOB: yes there are instance depending timeouts. Actually, the main measurement relERT (relative expected runtime) a

[2014-03-09 14:27] larskotthoff commented on #55
Done in 2bef2bf78b8c9f2def16bced9555b3bf27b1393d. Let me know if you want more detailed descriptions.

[2014-03-09 14:55] kerschke commented on #55
I just updated the html-pages.

[2014-03-09 17:57] mlindauer commented on #55
- please add 10 at par (par10) since it could be also par2 or par100
- has the mcp also penalization of timeouts?

[2014-03-09 18:10] mlindauer commented on #54
regarding the NA in cost:
lets say we have a sequential steps, i.e., s_1 -> s_2 -> s_3.
And in s_2 the instance was presolved,
s_3 was never run and it is unknown what it would cost to run the feature generation with s_3.
a cost of 0 for s_3 would be misleading because it can cost a lot more if we would have measured it.

BBOB:
What would happen if ERTs 10 (solver A) and NA for solver B and C?
rel

[2014-03-09 18:31] berndbischl commented on #55
"The number of successes records the number of problem instances in the data set what were solved within the timeout."

If this is what is measured in the first column "best", the name "best" is rubbish and we should call the column - taadaa - "successes".

[2014-03-09 18:36] berndbischl commented on #38
This is not so important right now.

Closing, until somebody complains that it looks bad.

[2014-03-09 18:36] #38 closed, assigned to Cedric7

[2014-03-09 19:26] berndbischl opened #56 "Presolved / costs"
How do we respect in the experiments that we presolved an instance?

What are the costs then for presolving?

Dont we need to know the order of the feature computation then?

[2014-03-09 19:31] berndbischl opened #57 "Why does sat11 hand / crafted have 0 feature steps?"
Shouldnt it be 10?

[2014-03-09 21:42] kerschke commented on #57
Should be, but in the description it was named "number_of_steps" instead of "number_of_feature_steps". I'll fix it.

[2014-03-09 21:42] #57 closed, assigned to nobody

[2014-03-09 22:03] kerschke commented on #55
I just changed the column names to "success ratio", "mcp" and "par10". Better?!

And Marius, I actually can't tell you how llama handles/penalizes timeouts for calculating the mcp. Lars?!

[2014-03-09 22:18] kerschke commented on #54
BBOB: It's exactly as you assumed. Also, when all solvers had an NA as ERT, the relERT for all of them is 1.

Regarding your "NA in cost" example:
Why is it misleading to define the costs for s_3 to 0? If we didn't have any costs and still "solved" s_3 ("solved", because we don't even need it anymore), it seems to be reasonable (at least to me).
I know it's not perfect, but defining the costs to N

[2014-03-09 22:30] kerschke commented on #46
Damn... I remember we had this issue last week when I visited Bernd. I thought, I also changed it to imputing twice the maximum for numerical / integer values and creating a pseudo-category for character / factor features. Unfortunately, it looks like I haven't commited that change and also even deleted that change on my R code.
Thus, should I change it again (and commit it this time) or should we

[2014-03-10 08:13] mlindauer commented on #54
I discussed the BBOB issue yesterday with Bernd.
I'm still not convinced that it is done in a correct way.
At least, it is not the same par10 definition as used in the other sets.
So it should be described in detail in the paper what we did.

regarding the feature costs:
also discussed with Bernd yesterday.
Our solution: If we don't use a feature step (because presolved in previous steps, crashed

[2014-03-10 08:56] mlindauer commented on #56
I added the requirement of an order in the specification
and updated accordingly the SAT and ASP data.
Only the BBOB data has also several steps.
@kerschke : please check in the bbob description.arff that the steps are ordered accordingly to the execution sequence.

[2014-03-10 09:57] kerschke commented on #56
The steps in BBOB are already in the correct order.

[2014-03-10 09:57] larskotthoff commented on #55
I've clarified how timeouts are handled for mcp.

[2014-03-10 09:58] larskotthoff commented on #55
Oh and I think success ratio is misleading -- I would say "percentage solved" or "timeout ratio" here.

[2014-03-10 10:39] kerschke commented on #55
Ok, I updated the column names.

@mlindauer: I also fixed the satzilla data as you still had the attribute "total" listed within your feature_costs.

[2014-03-10 11:42] mlindauer commented on #55
@kerschke: sorry

[2014-03-10 23:03] berndbischl commented on #39
Closing, as format is OK as explained above.

[2014-03-10 23:03] #39 closed, assigned to larskotthoff

[2014-03-10 23:04] berndbischl commented on #42
Has this been addressed now?

[2014-03-10 23:05] berndbischl commented on #31
We will leave it like it is now

[2014-03-10 23:05] #31 closed, assigned to nobody

[2014-03-10 23:07] berndbischl commented on #46
Pascal, what are you talking about here? Can this be closed?
Because we DO impute feature NAs currently?

[2014-03-10 23:08] berndbischl commented on #48
Closing, as we can apparently run a large number of models already.

[2014-03-10 23:08] #48 closed, assigned to berndbischl

[2014-03-10 23:51] berndbischl commented on #45
Done

[2014-03-10 23:51] #45 closed, assigned to Cedric7

[2014-03-11 02:06] berndbischl opened #58 "finish getProvidedFeatures"

[2014-03-11 07:30] kerschke commented on #46
Which part of my comment didn't you understand?
1) We talked about the imputation technique in your office.
2) You suggested that I should prog imputation by par2 for numerical values and creating an extra class for characters and categorical features.
3) It looks like I haven't committed the imputation like in 2) but still had the version of imputing with the median instead...
4) Should I commit

[2014-03-11 07:37] kerschke opened #59 "Check code of providing the overview table"
The new overview table at the index page looks good.
Unfortunately, there still seems to be a bug, because BBOB has stochastic algorithms, which is also mentioned within the description, but the table states "FALSE".

[2014-03-11 09:05] berndbischl commented on #59
What I look at are whether there are repetitions.

[2014-03-11 09:09] berndbischl commented on #59
For BBOB it is strange, that you put "stochastic algos" but only do one rep.

I could look at the description file in the table (like you did just now) and mention the nr of reps in brackets?

[2014-03-11 09:10] berndbischl commented on #46
Leave it like it is, I will go over it once then close this here.

[2014-03-11 09:28] kerschke commented on #59
Well, the data I provided was already aggregated. I already calculated the ERT, which is already based on 10 replications. Otherwise I would have to put in some work on preprocessing the original big data sets and provide it here. However, this will probably be a lot bigger and I'm not sure if we need this version right now.

[2014-03-11 09:28] kerschke commented on #59
I thought you read my thesis ;-)

[2014-03-11 12:48] kerschke opened #60 "Check validator"
The validator output for BBOB often refers to ASP-Potassco. Why is that?!

[2014-03-11 14:12] berndbischl commented on #60
Bug in the path? See Rhtml call.

[2014-03-11 16:14] larskotthoff opened #61 ""presolved" solved status is misleading for instances that were solved during feature computation"
There are basically two ways instances can be solved before the actual selection starts:
- A presolver is run for a set amount of time.
- The computation of a feature value causes the problem to be solved, e.g. probing features or unit/root node propagation.

Both of these cases are currently treated in the same way -- the value in feature_runstatus would be "presolved". I propose have different v

[2014-03-11 17:43] berndbischl opened #62 "Potential improvements of models"
A list of stuff we could do to improve the machine learning models
- Hyperparameter tuning, including the number of clusters
- Feature selection
- log10 trafo of y before doing regression

[2014-03-11 18:23] berndbischl opened #63 "BBOB data: strange costs"
- Why do we have 0 costs for some steps?
- Are some of the costs really as big as 3686000 ?

[2014-03-11 18:52] berndbischl commented on #30
The function convertToLlamaCVFolds only works when we have 1 repetition in the CV.

I added a unit test to show this.

[code]

[2014-03-11 18:57] larskotthoff commented on #30
What is the intended behaviour with multiple repetitions?

[2014-03-11 18:58] berndbischl commented on #30
I would have preferred this, to stabilize the avg. performance value.

It is in the interface anyway....

Is it hard to adapt this?

[2014-03-11 19:00] larskotthoff commented on #30
So if there are multiple repetitions, the mean value across them should be used?

[2014-03-11 19:04] berndbischl commented on #30
Yes. You basically do the whole CV stuff a couple of times, estimate performance per single CV.
Then take the mean of these single CV estimates.

You would do this if you would notice (larger) variance in repeating a normal CV.

Technically, if you do a 5 x 10 CV with 10 folds, you can also simply average the estimates from the 50 folds as this is (nearly) the same thing. I would think that by usi

[2014-03-11 19:05] larskotthoff commented on #30
Wait, so you want to create a set of folds for each repetition and not one set of folds with the mean values across all repetitions for performance?

[2014-03-11 19:09] berndbischl commented on #30
I would create simply 50 folds like I said above, and average performance across these.

IF llama can accept this. Because this would be the easiest way.

[2014-03-11 19:16] larskotthoff commented on #30
Well the problem is that that one llama data frame is supposed to contain only one data set (or repetition). I could return a list of llama data frames from the conversion method, but training models and averaging the performance over them would be te user's task.

[2014-03-11 19:17] berndbischl commented on #30
We will do one CV repetition then ..... :(

[2014-03-11 19:18] berndbischl commented on #30
I can maybe hack this into the BatchExperiments code I have. But I will do this later, if at all.

[2014-03-11 19:21] larskotthoff commented on #30
How do you want me to handle this in the conversion function? Throw an error if there's more than 1 repetition?

[2014-03-11 19:22] berndbischl commented on #30
I will add an arg check now, working on the code anyway.

And have a separate issue here, so we dont forget this.

[2014-03-11 19:46] berndbischl commented on #55
Can this be closed? Everybody OK with the current text?

[2014-03-11 19:46] berndbischl commented on #30
Closing and adding new issue.

[2014-03-11 19:46] #30 closed, assigned to larskotthoff

[2014-03-11 19:47] larskotthoff commented on #55
I'm ok with it.

[2014-03-11 19:47] berndbischl opened #64 "llama cannot handle repeated CVs"

[2014-03-11 19:49] berndbischl opened #65 "Provide orig. BBOB data"
With algo. repetitions, without imputation.

Do it later.

[2014-03-11 21:07] kerschke commented on #63
Yes. Some steps cost nothing because they only use the initial design (and those costs are already listed in the corresponding step).
And yes, some features were veeeery expensive - as I stated within my thesis. Maybe I should give you the thesis back again ;-)

[2014-03-11 21:08] kerschke commented on #60
Now, the entire output is broken. You probably know that already, but I thought I mention it, in case you didn't recognize it.

[2014-03-11 21:09] kerschke commented on #59
It looks as if you solved that issue. Close?!

[2014-03-11 21:23] kerschke opened #66 "Constant Features and Empty Classes"
This is just a reminder, because you removed two essential preprocessing steps while cleaning the functions:
Don't forget to remove **constant features** within the feature sets and **empty classes** in the training data. Otherwise some learners might crash.

[2014-03-11 21:29] berndbischl commented on #59
Yes fixed

[2014-03-11 21:29] #59 closed, assigned to nobody

[2014-03-11 21:31] berndbischl commented on #66
Yes I know, I emailed myself about this :)

I still want to pull this into mlr.

But maybe I cant, because we also use basic R/llama models?

Do you remember 1-2 tasks where these kinds of errors happened often?

[2014-03-11 22:02] kerschke commented on #66
I think the sat12 data sets were more likely to produce those crashes.
Just try sat12-indu and some classifiers such as svm, ctree, etc.

[2014-03-12 22:21] berndbischl commented on #52
done

[2014-03-12 22:21] #52 closed, assigned to nobody

[2014-03-12 22:45] berndbischl commented on #58
Done.

[2014-03-12 22:45] #58 closed, assigned to berndbischl

[2014-03-12 22:49] berndbischl commented on #28
Marius, are these the corresponding features you mean?

The same for ALL sat tasks we have?

[code]

[2014-03-12 22:54] berndbischl commented on #63
I got confused here. The FEATURES need the initial design step so there are no FEATURES without costs.

Please give me a set of steps which are likely to work well for prediction but are somewhat cheap.
Like Marius did for SAT. So we can use them in the experiments.

[2014-03-13 08:47] mlindauer commented on #28
yes, looks good!
yes, same for ALL sat tasks.

[2014-03-14 00:03] kerschke commented on #63
Actually, I am not sure how well the models would work without the two expensive feature steps (local search and curvature). However, as those two groups are soooo expensive, I suggest to drop them.

[2014-03-14 00:36] berndbischl opened #67 "cluster methods: FarthestFirst SimpleKMeans maybe set nr of clusters"
maybe  set to nr of solvers

[2014-03-16 18:30] #56 closed, assigned to nobody

[2014-03-16 18:30] berndbischl commented on #63
Please dont close when we dont have a final answer....

[2014-03-16 18:31] berndbischl commented on #63
I still need to decide the step set

[2014-03-16 18:32] kerschke commented on #63
Why? We talked about it last Friday... :-)

[2014-03-17 15:15] kerschke opened #68 "Different Algorithms on different instances"
Do we permit that a task uses different algorithms on different instances?
I just checked Joaquin's machine_learning_uci_weka_defaults task and encountered problems within some of the EDA part - due to the problems mentioned above.

In case, you don't understand what I mean, here's an example:
Lets say we have 2 instances (inst1, inst2) and 4 algorithms (alg1, ..., alg4). Now, we have results (or

[2014-03-17 15:18] mlindauer commented on #68
I agree that we should have the same algorithms (and same repetition) for each instance.
I will add a sentence in the specification (tomorrow).

Please write Joaquin a mail!

[2014-03-17 15:36] kerschke commented on #68
What do you mean by same repetition for each instance? Do you actually mean the same algorithm for each instance and each of its repetitions?

Or do you really mean that each instance should have the same number of repetitions? I mean, I'm ok with that restriction as well, but from my point of view it's not as necessary as the algorithm problem.

[2014-03-17 18:15] mlindauer commented on #68
to be precise:
The tuple (algorithm,#repetition) should be the same for all instances.
Ok?

[2014-03-18 23:05] joaquinvanschoren opened #69 "Nominal values instead of STRING in ARFF"
Just a tip: In the ARFF format, STRING is meant for arbitrary strings. For dataset instances and algorithms, it is better to use the nominal data type, expressed as a set, e.g. @ATTRIBUTE algorithm {algo1, algo2, algo3, ...}

That way you can also study the data distribution in tools such as WEKA, and check for errors (e.g. whether all algorithms are run on all instances).

[2014-03-24 09:32] mlindauer opened #70 "validator: check NA features if corresponding step is not OK"
see title...

[2014-03-24 09:47] mlindauer commented on #70
also add requirement in specs

[2014-03-28 14:06] kerschke opened #71 "Ridge regression doesn't run without setting penalty parameter"
As the title already indicates, ridge regression (regr.penalized.ridge), does not run without setting the penalty parameter (lambda2). Without setting it, I get the following error message:
_Error in qr.coef(qr(a, LAPACK = TRUE), b) :
  Fehlercode 136 von Lapackroutine 'dtrtrs'
Fehler: Matrix inversion failed. Please increase lambda1 and/or lambda2_

[2014-03-28 14:25] kerschke opened #72 "XMeans and classif.kknn don't work on LiDo"
XMeans seems to have the problem that it does not load on all slaves.

classif.kknn does not work, because I had problems while installing igraph (on which kknn depends).

[2014-03-28 14:33] berndbischl commented on #32
they are currently added and displayed.

[2014-03-28 14:33] #32 closed, assigned to berndbischl

[2014-03-28 14:34] berndbischl commented on #46
I will open a new issue, imputation is currently done.

[2014-03-28 14:34] #46 closed, assigned to berndbischl

[2014-03-28 14:36] berndbischl commented on #55
Apparently the description is OK. Nobody complained.

[2014-03-28 14:36] #55 closed, assigned to larskotthoff

[2014-03-28 14:37] berndbischl commented on #27
I changed my mind.

MUST be on webpage for easy access.

Do it later, when all is decided for paper.

[2014-03-28 14:40] berndbischl commented on #54
This thread became MUCH too long. We need to check whether issues remain, that were discussed here.

[2014-03-28 14:59] berndbischl commented on #28
Closing. We allow subsets of features and display them.

[2014-03-28 14:59] #28 closed, assigned to mlindauer

[2014-03-28 15:02] berndbischl opened #73 "Feature imputation"
The code looks MUCH too long. Either it is badly written, or the function in mlr sucks.

One or the other must be improved.

Also, we probably want to generate dummy variables if we impute with the mean value and so on.

Maybe we also would like top study what works best?

[2014-03-28 16:11] berndbischl opened #74 "Move feature normalization function to mlr"

[2014-03-28 16:12] kerschke commented on #74
It's already included in llama. Do you still want to add it to mlr as well?

[2014-03-28 16:13] berndbischl commented on #74
It seems to be a useful and general operation, so why not?

[2014-03-28 18:42] berndbischl commented on #66
Pascal, is this correct:
- there is no specific code left in the algselbench package for this
- everything now works

?

[2014-03-28 18:50] berndbischl commented on #68
Marius, I agree.
- Is it in the specs?
- Checked in validator?

Close then?

[2014-03-28 18:53] berndbischl commented on #51
I think we handle this currently in the most reasonable way.

What I do not like:
Is stuff like this explained in our READMEs?
I mean, why there are NAs in the costs? Because we demand this in the specs.

And if WE dont do it, it sets a very bad example....

[2014-03-28 18:54] berndbischl commented on #51
After it is explained for the tasks where such NAs occur, we can close IMHO.

[2014-03-28 18:56] berndbischl commented on #42
Marius, can this be addressed please so we reduce the number of open issues?

It cannot be hard to make this case sensitive in python right?

[2014-03-28 20:24] berndbischl opened #75 "addDefaultsToASTask is bad"
If default feature steps exists, they should probably be part of the task specification, so other users can use them easily as well.

[2014-03-28 20:49] berndbischl opened #76 "EDA: We should not remove crashed / timed-out algorithms in the plots"
This gives a skewed picture of what happened.

Their performance value should be imputed to something like 2 \* cutoff or 2 \* worst performance.

[2014-03-28 20:50] berndbischl opened #77 "Benchmark results: Mark BEST model in different red tone"
So we can see it at once

[2014-03-30 21:17] kerschke commented on #67
At the moment, FarthestFirst and SimpleKMeans run with nr of clusters equal to nr of solvers.
In addition, XMeans and EM choose the ideal nr of clusters among 2, 3, ..., nr of solvers.

[2014-03-30 22:00] berndbischl commented on #67
Please always describe stuff like this in the Rdocs!

[2014-03-30 22:13] berndbischl commented on #67
[code]

I also do not get how the code can work.
How can data be as simple data.frame that we pass to wekaEM(data) and at the same time a list with element "data", in data$data ?

[2014-03-30 22:54] kerschke commented on #67
We do not pass a simple data frame to wekaEM, we pass an entire list.

[code]

And one of the list elements (the first one) is called **data**.

[2014-03-30 23:02] berndbischl commented on #67
This does not make sense.

Where in the RWEKA docs do you see that this is like it is supposed to be?

[2014-03-30 23:03] berndbischl commented on #67
proof

[2014-03-31 11:56] mlindauer commented on #42
yes, it shouldn't be hard.
However, Kevin Tierney visits us this week.
Therefore, I have to postpone this minor problem a bit.

[2014-03-31 11:57] #70 closed, assigned to mlindauer

[2014-03-31 12:00] mlindauer opened #78 "Random Seed vs. Repeated Experiments?"
Hi,

I encountered an issue in my tool
that could be also an issue here.
Some models are really performance-sensitive to the random seed (e.g., libSVM).
Do we fix the random seed to an arbitrary value?
Or do we have to perform several runs?

How is it normally handled in ML?

Cheers,
Marius

[2014-03-31 12:07] berndbischl commented on #78
Please be more specific in describing the problem and explain what you saw when.

Also: libSVM is very likely a deterministic algorithm.
Be more specific here, too!
Which SVM, kernel, hyperparameters?
E.g. in R (when interfacing the libsvm library), per default the RBF kernel is selected. The optimizer for the resulting problem is deterministic. BUT there is a default STOCHASTIC heuristic to set t

[2014-03-31 12:17] mlindauer commented on #78
ok, here is what I did:
I learned a probability estimating SVC model with libSVM and set the kernel to rbf, and also defined a gamma and C. Depending on the used random seed, the model learned on the same training data differed.

But also other models, such as Random Forests, uses some randomness.
Therefore, the seed would be important to replicate results, right?
So it should be an issue independ

[2014-03-31 12:27] berndbischl commented on #78
See now I can answer. Prob estimation in libsvm uses Platt's heuristic.
See page 30 to educate yourself about that:
http://www.csie.ntu.edu.tw/~cjlin/papers/libsvm.pdf

You will also see that that uses internally a cross-validation = stochastic behavior.
Also note the comment:

"we conduct five-fold cross-validation to obtain  decision  values  before  minimizing  the  negative  log  likelihood.

[2014-03-31 12:33] mlindauer commented on #78
thanks for explaining this for the this specific case.
What do we do in the general case when a model is trained in a stochastic way?

[2014-03-31 12:35] berndbischl commented on #78
You are in general correct but this is a very difficult point. I need some time to explain this. And after that you will potentially we disappointed that what you want is not really possible.

[2014-03-31 12:41] mlindauer commented on #78
ok, so you are aware of the problem (also in our setting),
and you will explain it to me during a beer (or wine) at the next coseal workshop ;-)

if yes, we can close the issue.

[2014-03-31 12:59] berndbischl commented on #78
We are talking about randomness and instability of benchmark results and a fear of non-reproducebility, when such randomness is high.

The are 2 sources of randomness when we produce our results:

a) the CV is stochastic
b) the model can be stochastic, e.g. a RANDOM forest

Usually, when people start talking about this, they want to artificially "fix" the randomness to some deterministic behavior

[2014-03-31 13:08] berndbischl commented on #78
We can now also use statistical tests to compare performance distributions between models, instead of just using mean performance values.
I will not go further into this, but simply state that in ML with CV, getting the test right for such a comparison is much harder as one might think. This test (if we would have a suitable one...) now guards us against inference which is spurious and simply due

[2014-03-31 13:23] mlindauer commented on #78
Good points and in principle, I agree.
Furthermore, in the long term, I would like to support repetitions of the CV, as it was intended in the format.

In general, I think reproducibility is really important, especially in science.
And the setting of AS induces special attention.
A small variation of the model can induce another selected algorithm,
which can have, e.g., an exponential worse runtim

[2014-03-31 13:41] berndbischl opened #79 "EDA: potential problem with corr. clustering"
Frank said:

Figure 2 right: EagleUP is an SLS solver, should be grouped with those

What I meant is that the clustering made a mistake with EagleUP in this example, no? As you can see in the figure it's more correlated with the SLS solvers than with the exact ones. I noticed that first visually in the figure, before looking at the axes labels and (using domain knowledge the algorithm doesn't have

[2014-03-31 14:17] berndbischl commented on #78
The arguments in this thread are exactly the reasons why I proposed this in the first place.
It is also only a minor problem and cannot be hard to do (for Lars).

[2014-04-01 05:46] berndbischl commented on #78
100% agreed. And it is an even a broader subject than what we are discussion here.

Actually, IMHO you are mixing two different subjects in the paragraph above.

a) Reproducibility. For me, this means, being able to (at least qualitatively) to reprodce the results of the study of another scientist.

b) Model stability: I think this is what you worry about here now. It means, that if the data only

[2014-04-02 11:33] Cedric7 commented on #76
For the plotting of cluster's coorelation, i suggest :
- to consider generally the rank-correlation. Then there is no dependence on any Trafos like log
- Missing values on 2 \* max  (or 2*min for maximize = TRUE)

[2014-04-02 11:40] kerschke commented on #76
Also do it for the other plots - not only the cluster correlation plot.

[2014-04-02 11:45] kerschke commented on #76
And I am still not sure, whether 2_max (2_min respectively) is ideal.

Imagine the following scenario:
- we want to maximize our measure (e.g., percentage solved or something like that)
- we have positive values (and NAs), e.g., in the range of 30-90%
- imputing with 2*min would give us a value of 60% for all the NAs, which is clearly not an outlier
- thus, i'd suggest to impute with "min - (max -

[2014-04-02 18:15] berndbischl commented on #76
Do it.

Maybe with "min - 0.1 (max - min)" so we do not go too far from the orig range and skew the plots

[2014-04-09 07:19] #68 closed, assigned to mlindauer

[2014-04-11 15:28] berndbischl opened #80 "It is completely undefined what happens if we have repetitions in the experiments"
For what should be done in the machine learning task.

See the dozen FIXMEs in convertToLlama.

[2014-04-12 10:16] berndbischl opened #81 "Results: If multiple results are best they should all be colored"

[2014-04-12 10:17] berndbischl commented on #77
done

[2014-04-12 10:17] #77 closed, assigned to Cedric7

[2014-04-13 21:43] kerschke commented on #81
Also, try to describe the different colors within the header of the corresponding page. So far, there's still the "old" description of red and orange.

[2014-04-14 09:17] kerschke commented on #76
I just added the imputation to the scatterplot matrix. You should have a look at it, before I also add it to the other plots as well.

[2014-04-14 11:19] larskotthoff commented on #27
First attempt in 3d9e71db6e

[2014-04-14 14:52] berndbischl commented on #64
We could IN PRINCIPLE simulate repeated CVs with BatchExperiments.

Although this might be useless work, as handling this in llama out-of-box is still preferable, and "working around this" in this package might be ugly.

[2014-04-14 14:59] larskotthoff commented on #64
I'm not sure if either this package or LLAMA should provide a facility for this. Providing CV folds as part of the task spec may be useful, but providing detailed specs for a whole series of experiments is going a bit too far I think.

[2014-04-14 15:14] berndbischl commented on #64
If the data set is so small (or imbalanced or strange or whatever....)  10CV is not the best resampling splitting. So we have to select and store a better one on the server. And handle it in the experiments.

You were the one who suggested that he wants to look at the variance if we change the splitting?

[2014-04-14 15:16] berndbischl commented on #64
The problem might be, that 10CV is OK, but we as scientists might worry and we would only stop worrying when we SEE that the variance is not so big.

Like I said, BatchExperiments would allow to do that in like 10 minutes of coding.

I will do this later (after submitting the paper), then we can study the effect.

[2014-04-14 15:17] larskotthoff commented on #64
I completely agree, I just don't think that this should be part of the package itself.

[2014-04-15 21:24] berndbischl opened #82 "imputeCrashedRuns is bad"
It only imputes the object algo.runs but, as documented, the performance is stored also in algo.perf.

Which means the resulting task is now inconsistent!

[2014-04-15 21:26] berndbischl commented on #82
Also:

We only impute when runstatus != "ok"

This is in general reasonable but we really need to check whether NAs occur in algo performance if runstatus is OK. (Which would be a data error IMHO)

[2014-04-15 21:29] berndbischl commented on #82
Also why dont we impute for plotAlgoCorMatrix?

[2014-04-15 21:33] berndbischl commented on #27
Marius, can you please check the wiki page?

[2014-04-15 21:35] berndbischl commented on #76
Pascal, can this now be closed as i opened a more specific issue #82?

[2014-04-15 21:37] berndbischl commented on #78
Closing this now, discussion seems to have ended and we do not do anything wrong currently in our setup IMHO.

[2014-04-15 21:37] #78 closed, assigned to berndbischl

[2014-04-15 21:44] berndbischl commented on #67
Pascal, the original point was about the R docs.

Is this done? Can we close?

[2014-04-15 21:46] berndbischl opened #83 "Must check whether we algorithm performance values with NA, where runstatus is OK"
This indicates a data problem and the data should be rejected right?

[2014-04-15 21:51] berndbischl opened #84 "findUseless seems bad"
1) Why is an algo useless if its performance is constant?
Is the description bad? Or is this simply wrong. EG an algorithm might have constantly runtime 0 and be therefore the best. It is certainly not useless then.

2) Also the function where this is computed is then called findUselessINSTANCES.....

[2014-04-15 22:15] berndbischl opened #85 "EDA: All plots: We CANNOT drop data"
From the webpage:

"If the performance is represented on a log-scale, all non-positive performance values were removed."

This is of course bad.

NEVER drop data in such a way.

[2014-04-15 22:19] berndbischl opened #86 "EDA: Algo perf summary table"
Scientific notation is better, so something like %g.

Eg for the min value I would like to see whether it is exactly 0 or not.

[2014-04-15 22:45] berndbischl opened #87 "EDA: plotCorMatrix"
I thought we agreed upon correlation between ranks?
So spearmans rho.

This should be used on the server plots and be made the default in the method.

[2014-04-16 07:23] mlindauer commented on #83
was already implemented in the validator ... stupidly after the imputation of missing performance values. should be fixed now.

[2014-04-16 07:23] #83 closed, assigned to mlindauer

[2014-04-16 07:29] kerschke commented on #87
I know we have agreed on using ranks and therefore the ranks of the data are calculated prior to calculating the correlation. Thus, we actually calculate spearmans rho ;-)

[2014-04-16 07:34] kerschke commented on #85
I've already mentioned this problem a couple of times. And your response was more or less: in case of non-negative values, one should not use a log-scale.
However, if one still forces to produce the output using a log-scale, this is the only solution I could think of.

[2014-04-16 07:36] kerschke commented on #84
Then give it a more reasonable name, e.g., constant solvers.

And in your example (constantly runtime 0), the solver might not be useless, but one obviously wants to see that a solver produces such a constant output.

[2014-04-16 07:38] mlindauer commented on #27
I read it, fixed some typos and added small things.

[2014-04-16 07:40] kerschke commented on #76
Works for me.

[2014-04-16 07:40] #76 closed, assigned to kerschke

[2014-04-16 07:42] kerschke commented on #82
NAs within runstatus == "ok" can't occur, as the validator checks for stuff like that.

[2014-04-16 07:49] kerschke commented on #82
Also, it only imputes the data that is relevant for the plots in order to avoid unnecessary computations. But if you think it's important to add that as well, I could have a look at the function again.

[2014-04-16 10:36] kerschke commented on #82
And comming to your last concern: I don't like the idea of imputing values and making the ranks. Because in that case, the value of the noise-parameter (which is used during imputations) has a lot more influence.
Also, for calculating the correlation matrix, only pairwise complete observations are used. Thus, we do not remove entire instances, only the ones that would cause problems for that speci

[2014-04-16 10:40] kerschke commented on #67
Do you refer to the description of the function, such as @title, @description, @param, etc.?! If yes, then it is done.

[2014-04-16 10:42] kerschke commented on #67
Did you actually check, what's going on in the cluster calculation? I mean, you registered that the function

[code]

might be incorrect. However, looking at the source-code, you still use it.

[2014-04-16 10:45] kerschke commented on #65
By the way, I actually added the original BBOB data a couple of days ago.

[2014-04-16 10:45] #65 closed, assigned to kerschke

[2014-04-16 11:02] kerschke commented on #63
@berndbischl Can this be closed now?

[2014-04-16 12:32] berndbischl commented on #82
My original suggestion was to impute, but without jittering.

[2014-04-16 12:34] kerschke commented on #82
In that case we do not have to impute but assign all those NAs the highest ranks. Then there is the question, whether equal values should receive an equal rank or an average rank.

[2014-04-16 12:34] berndbischl commented on #82
Also, consider this case:

Algo A and B timeout 90% of the time, on the same instances.

On the rest, it is random whether A or B is better.

Now are these two correlated?
I would say "yes"?

Does our measure express this?

[2014-04-16 12:36] kerschke commented on #82
I'm not sure, if I would consider them correlated, just because both of them crashed / timed out / etc.

[2014-04-16 12:42] berndbischl commented on #82
Well to make it more clear:

i) A and B timeout BOTH on the later half of the instances. On the rest there is no clear winner.

ii) A and B timeout on exactly different 50% of the instances.

In i) It does not matter whether we select A or B.
In ii) it does, if we can figure out when A or B times out, given an instance and its features.

 I see it that in i) there is a correlation - "if A is extre

[2014-04-16 18:29] berndbischl commented on #67
So we never fixed this?
And the cluster results are wrong?

[2014-04-16 18:30] berndbischl commented on #67
The thing is, I never saw an error.
I will still look at it tomorrow.

[2014-04-17 15:44] larskotthoff commented on #67
Regarding the data$data, maybe there's confusion because this is the way it is in LLAMA -- the LLAMA data frame has a member $data that contains the actual data? LLAMA doesn't call the clustering function with that though, but with a single data frame that contains the feature values.

[2014-04-17 16:05] berndbischl commented on #67
Is it really a data.frame in llama? Or a list? (that has the member $data)

Technically, I know that you CAN put a df in a df in R, because a df is mainly a list, but I hope you did not do it that way?

[2014-04-17 16:07] larskotthoff commented on #67
Yes, sorry, you're right -- it's a list.

[2014-04-17 18:25] larskotthoff commented on #67
I've just run EM without the mlr wrapper and without setting a max number of clusters and get an average PAR10 of 7474.717 on the CSP data set (MCP 107.7383), so very similar to the results on the website.

[2014-04-17 20:05] berndbischl commented on #67
You mean the algselbench wrapper? Mlr is not really involed here right?

This is reassuring.

What do you think when you look at our code? It is still not really correct from how the function is used right?

[2014-04-17 20:15] larskotthoff commented on #67
Yes, I've used algselbench to convert to llama and then clustered without mlr.

I'm not sure about the code to be honest -- I'm not familiar enough with mlr.

[2014-04-17 20:16] berndbischl commented on #67
look at runLlamaModels

mlr is not used for clustering, mlr does not support clustering.

I very directly call llama.

[2014-04-17 20:28] larskotthoff commented on #67
Well from that it looks like the code that determines the number of clusters wouldn't work because at this point there's no `data$data` -- there's only the data frame with feature values. You cannot get the number of algorithms at this point.

[2014-04-17 20:30] berndbischl commented on #67
exactly. but i got no errors, but results instead.

apparently consistent with yours.

 which is strange?

[2014-04-17 20:32] kerschke commented on #67
My guess is that llama somehow ignores the wrong argument.
Can we fix it somehow, i.e., derive the number of algos?

[2014-04-17 20:33] berndbischl commented on #67
of course i can repair this

I would still like to understand what goes on.

[2014-04-17 20:35] larskotthoff commented on #67
Well `names(data$data)` is `NULL`, so `grep` returns 0. The number of clusters is always set to 0, which RWeka probably interprets as "do your thing".

[2014-04-17 20:36] berndbischl commented on #67
i will look at this tomorrow, fix and rerun just the clustering to check

[2014-04-17 20:39] kerschke commented on #67
So RWeka actually allows 0 as a valid input for the number of clusters? Could be a solution but what will RWeka actually do? It still has to set the number of clusters to a certain value.

[2014-04-17 20:40] berndbischl commented on #67
We will set the nr of clusters correctly. this is no problem.

[2014-04-17 20:44] larskotthoff commented on #67
Hmm, the RWeka/Weka documentation doesn't say, but doesn't say that 0 isn't allowed either. Use the source :)

[2014-04-18 14:55] berndbischl commented on #27
Ok if you like it, it can be closed

[2014-04-18 14:55] #27 closed, assigned to mlindauer

[2014-04-18 15:03] berndbischl commented on #42
Is this done now?

[2014-04-18 16:13] kerschke opened #88 "Consistent Scenario Names"
Scenario names (algorithm selection tasks) should be consistent within the entire paper (figures, text, captions, etc.).
Following idea:
- always uppercase
- dashes, but no underscores

[2014-04-18 22:10] berndbischl commented on #67
@all: I checked the code in debug mode now.
clusters were set to 0.
This means that for EM we selected clusters by cross-val.
For others we probably took the default, which might have been 2.
We need to rerun.

@Pascal:
What I meant wrt to the rdocs was if you implement behavior like setting the nr of clusters, you need to of course DOCUMENT that for the user. I will do that now. But it is importa

[2014-04-20 14:33] berndbischl opened #89 "shortenPathsInValidator"
1) The function is wrongly documented!

2) I dont think this belongs in the package, but into server scripts!

Please fix.

[2014-04-20 14:34] berndbischl commented on #67
I will take care of this and close soon.

[2014-04-20 14:35] berndbischl commented on #84
We removed it, closing.

[2014-04-20 14:35] #84 closed, assigned to kerschke

[2014-04-20 19:31] berndbischl opened #90 "runstatus == "ok" vs NA in algo perf"
Really make sure that this is the same thing.

Check both directions:
  "OK" <==> there is a value
  not "OK" <==>  there is NA

Discuss with Marius how this is checked in the validator.
It is documented?

[2014-04-21 14:59] berndbischl opened #91 "not features are stoch / det., but the processing steps"
We probably have to change the format description file a bit.

whether a feature is stochastic can be calculated from the the steps it depends on.

[2014-04-21 15:42] berndbischl opened #92 "Problems with names starting with number and including weird chars"
Well, I said this _multiple_ times in the beginning, but we now have problems with names  in the data objects.

One example are the algorithms starting with numbers.

R complains in multiple places about this and produces errors.

So? What now?

Basically the only solution is to directly rename these after parsing the files.
But then we can also rename in the original files, because:
a) to spare o

[2014-04-21 15:44] berndbischl commented on #85
We dont drop anymore but produce an error instead.

[2014-04-21 15:44] #85 closed, assigned to kerschke

[2014-04-21 15:52] mlindauer commented on #92
sorry, but this indeed a stupid feature of R.
There is no way to handle strings as strings regardless of the characters?

If we have to rename the algorithms (and instances),
we should do it only internally,
i.e., mapping after parsing the files and map back for the results.
Maybe you could use some kind of hashing?

We cannot justify why we have to rename in particular algorithms.
(independent wh

[2014-04-21 15:54] berndbischl commented on #92
So what? llama is in R, mlr too, and I mentioned this. I am pretty sure stuff like that happens in other modelling languages as well.

I am not programming this, as this is extremely annoying and error-prone.

But the repo is open, so be my guest and do this?

[2014-04-21 15:56] berndbischl commented on #92
PS:
It also does not work, as sometimes we would have to change the labels before we go into a specific function that would be used for display.

The is then no "place" / "time" to code back.

An example is the scatter plot matrix code we produce. That does not work if the algo names start with eg "2".

[2014-04-21 16:03] berndbischl commented on #92
I will for now call this function on all names that go into plotting or modelling:

https://stat.ethz.ch/R-manual/R-devel/library/base/html/make.names.html

Note that this results in this here:

[code]

[2014-04-21 16:05] berndbischl commented on #79
Discuss this with Frank after imputation whether it now looks better and whether the imputation makes sense.

[2014-04-21 16:16] berndbischl commented on #87
I changed the code to what I said should be done. Closing.

[2014-04-21 16:16] #87 closed, assigned to nobody

[2014-04-21 16:34] berndbischl opened #93 "Default feature steps must mentioned in the format"
Currently, they are on config files on the server which is stupid.

They should be in the format, so other users can access them as well.

[2014-04-21 17:39] berndbischl commented on #86
Done.

[2014-04-21 17:39] #86 closed, assigned to nobody

[2014-04-21 17:41] berndbischl commented on #82
Done. It is documented how we impute. Might not be perfect, but whatever.

[2014-04-21 17:41] #82 closed, assigned to nobody

[2014-04-21 17:42] berndbischl commented on #75
Removed this function, added new issue for format problem.

[2014-04-21 17:42] #75 closed, assigned to nobody

[2014-04-21 18:19] berndbischl commented on #81
done.

[2014-04-21 18:19] #81 closed, assigned to nobody

[2014-04-21 18:21] berndbischl commented on #74
Added issue in mlr. This is irrelevant for this project now.

[2014-04-21 18:21] #74 closed, assigned to nobody

[2014-04-21 18:23] berndbischl commented on #66
No errors occur anymore. Closing.

[2014-04-21 18:23] #66 closed, assigned to kerschke

[2014-04-21 18:37] berndbischl commented on #73
Code is now one line. Rest is not relevant here and belong to the million possible modelling improvements. Closing.

[2014-04-21 18:37] #73 closed, assigned to nobody

[2014-04-21 18:37] berndbischl opened #94 "make UCI ML data work"

[2014-04-21 20:09] kerschke commented on #88
Done, within the paper.
However, we might have to change some of the figures within the paper as well (as not all scenario names are consistent to those properties from above).

[2014-04-21 20:11] berndbischl commented on #88
Example pls?

[2014-04-21 20:15] kerschke commented on #88
Have a look at your heatmap:
- Potassco instead of POTASSCO (uppercase)
- CSP_2010 instead of CSP-2010 (dash)
- MaxSAT-pms instead of MAXSAT-PMS (uppercase)
- premarshalling_astar_2013 instead of PREMARSHALLING-ASTAR-2013 (both)
- QBF_2011 instead of QBF-2011

[2014-04-21 20:19] berndbischl commented on #88
Everything which is specifically generated for the paper is already correct.

I probably did not have time to run the code again.

Look at results_utils.R in the svn.

[2014-04-21 22:07] berndbischl opened #95 "EDA: add table or so that show on which instances all algos are equal"
Specifically: Where all algos failed.

Think about how this is presented best.

[2014-04-21 22:27] berndbischl commented on #89
It is also not commented, which means it is very hard to understand.

I also see quite a lot of copy-paste.

[2014-04-22 08:51] kerschke commented on #95
How about a barplot, where each bar represents the number of algorithms that could not be solved (0 to number of algos)?

[code]

[2014-04-22 09:00] kerschke commented on #88
Ok. I fixed the heatmap. Now everything _should_ be consistent.

[2014-04-22 09:00] #88 closed, assigned to kerschke

[2014-04-22 12:48] kerschke commented on #89
Moved it to the server scripts package, reduced copy-paste parts and changed the corresponding documentation.

[2014-04-22 12:48] #89 closed, assigned to kerschke

[2014-04-22 14:33] larskotthoff commented on #92
I agree with Bernd that we should have restrictions on the names. While the particular restrictions in R are maybe a bit too restrictive, we can't allow arbitrary strings. Apart from avoiding possible memory issues, we're also making life much easier for everybody who works with the format (think embedding Javascript in the name of an algorithm and then putting it on a website...)

I would propose

[2014-04-22 14:39] berndbischl commented on #92
We cannot internally prefix, because this would then go into plots and tables....
See my note above.

What you propose is totally OK for R (or probably any other language or tool), we just cannot start with a number.

[2014-04-22 14:55] berndbischl opened #96 "EDA: mark whether feature is constant or nearly constant"
Either add another column for a "remark" or color the features.

Note that mlr already has code for this.
(although we need to change a bit to detect the features not remove them at once)

This is a later enhancement.

[2014-04-22 17:36] larskotthoff commented on #92
I see your point, but also Marius' that we can't just rename the algorithms/solvers. Prefixing is something you can see easily enough when looking at the plots/tables and has the additional benefit that we always know what something is by looking at its name.

[2014-04-22 17:40] berndbischl commented on #92
But we

a) need to make is shorter then. a_ and f_

b) disable it if it is not needed. either automatically or by a user option.

this might be a good combo.

[2014-04-22 21:46] berndbischl commented on #67
Close now, will rerun tomorrow.

[2014-04-22 21:46] #67 closed, assigned to berndbischl

[2014-04-22 21:46] berndbischl commented on #72
Currently dont care, I run on SLURM.

And this is very system specific.

[2014-04-22 21:46] #72 closed, assigned to nobody

[2014-04-22 21:57] berndbischl commented on #54
I read thru all of it.

Assuming that we now have the correct, basic BBOB data we can close this.

[2014-04-22 21:57] #54 closed, assigned to nobody

[2014-04-22 21:59] berndbischl commented on #63
I will use this later to finally discuss bbob. whether it is completely ok.

[2014-04-22 22:00] berndbischl commented on #63
We need to do 2 things:
- check data set
- decide default feature steps

[2014-04-23 09:12] kerschke opened #97 "Different imputation in EDA and Experiments"
Ain't it actually problematic that we impute the algorithms differently, depending on whether we show them in the EDA section or preprocess them prior to running the experiments?

[2014-04-23 09:13] berndbischl commented on #97
No, not really. The EDA section is for being able to look into the data.

As long as we clearly say what we do, this is OK IMHO.

[2014-04-23 09:16] kerschke commented on #63
I thought, we've already decided about the default feature steps:
- initial_design
- meta
- convexity
- y_distr
- levelset

[2014-04-23 09:17] berndbischl commented on #63
Well, maybe you proposed these, but - because I had no time - I never ran on BBOB again.

It is also good that they are now written down here.

[2014-04-23 09:23] kerschke commented on #63
They are also mentioned in the config-file :-)

[2014-04-24 14:16] berndbischl opened #98 "R code: We should probably offer a function to subset a task, most importantly for feature steps"
We need this in runLlamaModels

[2014-04-24 14:39] berndbischl opened #99 "R code: The whole specification of the learner in runLlamaModels is crap. Bad design"

[2014-04-27 18:07] berndbischl opened #100 "EDA: densities. imputed values should be visible as a smaller peak"
= less width

[2014-04-28 08:46] larskotthoff opened #101 "Functions should be renamed to reflect that we use "scenario" to refer to tasks now"

[2014-05-01 10:56] berndbischl opened #102 "Enable feature normalization only for methods if really necessary"
See recent discussion about j48 artefact.

[2014-05-01 10:57] #97 closed, assigned to nobody

[2014-05-01 10:58] berndbischl commented on #79
No further comments. And we cannot really control this anyway.

[2014-05-01 10:58] #79 closed, assigned to nobody

[2014-05-01 10:58] berndbischl commented on #25
Old and outdated issue.

[2014-05-01 10:58] #25 closed, assigned to berndbischl

[2014-05-07 09:08] larskotthoff commented on #101
This should be a simple search and replace and I'd be happy to do it. This will obviously change a lot of things, so I don't want to do it while somebody else is working on the code. When would be a good time to do this?

[2014-05-07 09:12] kerschke commented on #101
I don't intent to work on it this week(end). Thus, from my point of view you can do it any time you want - depending on Bernd ;-)

[2014-05-07 10:12] berndbischl commented on #101
On 7. Mai 2014 11:12:17 MESZ, kerschke notifications@github.com wrote:

Same here. Go ahead.

[2014-05-07 14:32] larskotthoff commented on #101
Done in 116cdfbf1084b957d899eb1aeb096d635dec11c3 -- reopen if I broke anything.

[2014-05-07 14:32] #101 closed, assigned to nobody

[2014-08-22 16:30] berndbischl opened #103 "add kmeans from R for clustering"
Possibly set nstarts = 100 as default.

[2014-08-22 16:30] berndbischl opened #104 "check whether all default settings for learners are "reasonable" for results on webpage"

[2014-09-24 11:54] mlindauer commented on #90
already checked in validator.

[2014-09-24 11:56] mlindauer commented on #42
ok, fixed in validator

[2014-09-24 11:56] #42 closed, assigned to mlindauer

[2014-10-02 09:20] berndbischl commented on #93
Marius said: done.

We must only delete them from the config files.

[2014-10-02 09:20] berndbischl commented on #104
We will do tuning

[2014-10-02 09:20] #104 closed, assigned to nobody

[2014-10-02 09:21] berndbischl commented on #102
Should this be tuned?

[2014-10-02 09:24] berndbischl commented on #64
I think we do this:
convert2llama will create a list of what it creates now, for the reps of the CV.
We will then iter over this, maybe directly with BE, like I said, then it is auto-parallel.

[2014-10-02 09:34] berndbischl commented on #102
Maybe just enable it now.

[2014-10-02 13:00] mlindauer commented on #91
we discussed it and agreed that it is fine as it is.

[2014-10-02 13:00] #91 closed, assigned to nobody

[2014-10-02 13:01] mlindauer commented on #90
we changed the specification such that NA are not allowed in algo perf.

[2014-10-02 13:01] #90 closed, assigned to nobody

[2014-10-02 13:02] mlindauer commented on #80
for repetitions, we should sample a pair of features x performance vector

[2014-10-02 13:03] mlindauer commented on #69
since we have so many different instances, it would be really ugly to list them all in the header. We won't fix this.

[2014-10-02 13:03] #69 closed, assigned to nobody